* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --clr: #2196f3;
}

.header-nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  height: 30px;
}

.header-nav-item a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  margin: 20px;
  color: #212121;
  vertical-align: top;
}

.header-nav-item_active a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  margin: 20px;
  color: #212121;
  vertical-align: top;
  color: var(--clr);
 
}

.header-nav-item:hover a {
  color: var(--clr);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-mail {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  display: flex;
  justify-content: right;
  padding-right: 20px;
  text-decoration: none;
}
.header-mail:hover {
  color: var(--clr);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  display: flex;
  justify-content: right;
  padding-right: 20px;
  text-decoration: none;
}

.header-tel:hover {
  color: var(--clr);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.efektivni {
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 49, 60, 0.4)
    ),
    url("../Img/overlay.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-h {
  text-align: center;
  color: white;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

/* .main-button {
  
  display: block;
  margin: 20px auto 20px;
} */
.main-button {
  display: block;
  margin: 20px auto 20px;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main-button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
  padding: 7px 15px;
}

.header-img {
  display: block;
  width: 145px;
}

.table-govitem {
  text-transform: uppercase;
  padding-left: 65px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #212121;
}

table {
  margin-top: 100px;
  border: 0px solid black;
  display: flex;
  justify-content: center;
}

.table-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 25px;
  color: #757575;
}

.sec-h {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}

.div {
  display: flex;
  flex-direction: column;
}

.main_sec_divv {
  justify-content: center;
}

.container-img {
  margin-bottom: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_section_title {
  padding-top: 94px;
  margin-bottom: 50px;
}

.main-secc {
  background-color: #f5f4fa;
}

.main-secc h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 175%;
  text-align: center;
  padding-top: 100px;
}

.secc-figure figcaption {
  margin-top: 30px;
  margin-bottom: 30px;
}
.secc-figure {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.14);
}
.container-figure {
  padding-bottom: 94px;
  display: flex;
  justify-content: space-between;
}

.secc-figure img {
  width: 100%;
}

.secc-figure figcaption {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}

.secc_figure_span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  color: #757575;
  margin-top: 10px;
  display: inline-block;
}

.footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2f303a;
  height: 200px;
}

.footer address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #ffffff;
}

.footer a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.foot-adr {
  margin-top: 20px;
  margin-bottom: 9px;
}

#foot-email {
  margin-top: 9px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.mail-tel {
  display: flex;
}

.main-list {
  margin: 94px 0 94px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.mail-item h3 {
  font-weight: 700;
  color: rgba(33, 33, 33, 1);
  text-transform: uppercase;
  font-size: 16px;
}

.mail-item p {
  color: rgba(117, 117, 117, 1);
}

.mail-item::before {
  content: "";
  background-image: url("../Img/antenna\ 1.png");
  background-color: rgba(245, 244, 250, 1);
  display: block;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.mail-item2::before {
  background-image: url(../Img/clock\ 1.png);
}

.mail-item3::before {
  background-image: url("../Img/diagram\ 1.png");
}

.mail-item4::before {
  background-image: url("../Img/astronaut\ 1.png");
}

.sec-div_img,
.sec-div_imgg,
.sec-div_imggg {
  width: 370px;
}

.span-icons i {
  color: gray;
  width: 50px;
  height: 500px;
  padding: 10px;
}
.span-icons i:hover {
  background-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-link-list {
  display: flex;
  justify-content: space-evenly;
}
.section-four-link-item {
  display: inline-block;
  color: #afb1b8;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.section-four-link-item:hover {
  color: #ffffff;
  background-color: #4b91f7;
  border: 0px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients {
  height: 200px;
}
.mainn-h1 {
  text-align: center;
  padding-bottom: 50px;
}
.regular-clients-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  text-align: center;
}

.regular-clients-item i {
  font-size: 70px;
  width: 250px;
  color: #afb1b8;
  height: 250px;
  border: 0px;
  border-radius: 10px 10px;

}
.regular-clients-link {
  text-decoration: none;
}

.regular-clients-link i:hover {
  outline: 1px solid #4b91f7;
  color: #4b91f7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.regular-clients-link:hover.regular-clients i {
  color: #4b91f7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-h3 {
  color: white;
  text-align: center;
}
.foot-list i {
  color: white;
  padding: 10px;
  border-radius: 50%;
}
.foot-list {
}
.foot-wrap {
  display: flex;
}
.icon-envelope {
  padding-right: 5px;
}
.icon-smartphone {
  padding-right: 5px;
}
.regular-clients-item i {
  
  padding: 10px;
}
.regular-clients-item i :hover {
 padding: 100px;
 color: rgba(33, 150, 243, 1);
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.foot-list-link i:hover {
  background-color: rgba(33, 150, 243, 1);
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb-img {
  width: 370px;
  height: 290px;
  position: absolute;
}
.thumb-p {
  position: relative;
  bottom: -15px;
  font-size: 18px;
  font-weight: 700;

  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb-span {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-form {
  margin-right: 50px;
  position: absolute;
  top: 25%;
  left: 50%;
  float: right;
}

.footer-form-header {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 114%;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.footer-form-wrap {
  display: flex;
  justify-content: flex-end;
}

.footer-form-input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
  width: 326px;
}

.footer-form-btn {
  display: flex;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 45px;
  padding: 10px 28px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  margin-left: 15px;
}

.footer-form-btn p {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  margin: 0 auto;
}
.icon-sendd {
  margin-left: 30px;
}
.foot-container {
  margin-top: 50px;
}

.label-inputs {
  position: relative;
}
.svg-form {
  fill: #212121;
  position: absolute;
  bottom: 4px;
  right: 475px;
  width: 14px;
  height: 14px;
}
.form-input:focus + .svg-form {
  border-radius: 2px;
  fill: #2196f3;
}

.label-inputs:focus-within .svg-form {
  fill: #2196f3 !important;
}

.form-input {
  padding-left: 30px !important;
  box-sizing: border-box;
}
.header_nav_link {
  position: relative;
  padding-bottom: 70px;
}

.header-nav-item_active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--clr);
  bottom: 0;
  left: 0;
}
.section-four-link-item i {
  border: 0px;
  border-radius: 50%;
}
.regular-clients li {
}
.regular-clients-link a {
  width: 164px;
  height: 90px;
  display: inline-block;
}
.thumb {
  position: relative;
}
.thumb-p {
  position: absolute; 
  left: 0 ;
  bottom: -15px ;
}

/* adaptive */ 

/* Large: 1200px - 1400px */
@media (max-width: 1400px) {
  .container {
    width: 1140px;
  }

}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .mail-item {
    width: 23% ;
  }
  .sec_div_imgg {
    width: 100%;
  }
  .thumb-img {
    width: 300px;
  }
  .thumb {
    width: 300px;
  }
  .thumb-p {
    width: 100%;
  }
  .secc-figure {
    width: 230px;
  }
 
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  
  .header {
    position: relative;
    height: 100px;
  }
  .header-tel {
    position: absolute;
    top: 70px;
    right: 170px;
  }
  
  .main-list {
    flex-wrap: wrap;
  }
  .mail-item {
    width: 45%;
  }
  .container-img {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .main_sec_divv {
    flex-wrap: wrap;
  }
  .thumb-img {
    width: 100%;
    height: auto;
    position: static;
  }
  .thumb {
    width: 45%;
    position: relative;
  }
  .thumb-p {
    bottom: -15px;
    left: 0;
    position: absolute;
  }
  .secc-figure {
    width: 45%;
   
  }
  
  .container-figure {
    flex-wrap: wrap;
  }
  .figure-item_g {
    margin-bottom: 10px;
  }
  .figure-item_f {
    margin-bottom: 10px;
  }
  .regular-clients {
    height: 300px;
  }
  .regular-clients-list {
    flex-wrap: wrap;
  }
  .regular-clients-item  {
    width: 30%;
  }
  .footer-form {
    position: absolute;
    top: 250px;
    left:  190px;
  }
  .footer {
    position: relative;
    height: 300px;
  }
 
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .header {
    position: relative;
  }
  .mail-tel {
    position: absolute;
    top: 100px;
    left: 15px;
  }
  .thumb-img {
    width: 100%;
    height: auto;
    position: static;
  }
  .thumb {
    width: 45%;
    position: relative;
  }
  .thumb-p {
    bottom: -15px;
    left: 0;
    position: absolute;
  }
 .sec-div_img {
  padding-bottom: 5px;
 }
 .mainn-h1  {
  padding-left: 150px;
 }
 .regular-clients {

 gap: 30px;

 }
 .regular-clients-item {
  width: 30%;

  
 }
 .footer {
  position: relative;
 }

 .footer-form {
  position: absolute;
  left : 120px ; 
 }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .header {
    position: relative;
  }
  .header-nav-list {
    position: absolute;
    top: 0;
    left: 200px;
  }
  .mail-tel {
    margin-top: 20px;
  }
  .mail-item {
    width: 100%;
  }
  .mail-item_link {
    text-align: center;
  }
  .thumb {
    position: relative;
    width: 100%;
  }
  .thumb-p {
    position: absolute;
    left: 0;
    bottom : -15px;
  }
  .secc-figure {
    width: 100%;
  }
  .figure-item_g {
    margin-right: 40px;
  }
  .figure-item_j {
    margin-right: 40px;
  }
  .regular-clients {
    height: 300px;
  }
  .regular-clients-list {
    flex-wrap: wrap;
    padding: 0;
  }
  .regular-clients-item {
    width: 30%;
  }
  .footer {
    position: relative;
    height: 320px;
  }
  .footer-form {
    position: absolute;
    top: 220px;
    left: 150px;
}
.footer-form-btn {
  position: absolute;
  top: 120px;
  left: 85px;
}
.section-four-link-item   {
  width: auto;
}
.regular-clients .mainn-h1 {
  text-align: center;
  padding-right: 115px;
}
.regular-clients {
  height: 350px;
}
.regular-clients-list {
  flex-wrap: wrap ; 
}
.regular-clients-item {
  width: 50%;

}
.footer {
  position: relative;
  height: 400px;
}
.foot-wrap {
  flex-direction: column;
  align-items: center;
}
.foot-wrap-one {
 
}
.foot-wrap-two {
  
}
.footer-form {
  position: absolute;
  top: 300px;
  left: 50px;
}
.footer-form-header {
  text-align: center;
}
.footer-form-btn {
   

}

}
